 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/49c7483268f7d460d32131fa9a881f2cf23ed6883fa55c5f4e9e4cfe67f410a8dd578171f4a0e60a8b12e029268e061f5be42d433d14a60d049695_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 884px;
}

.u-section-1 .u-text-1 {
  font-size: 4.1875rem;
  width: 836px;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  width: 598px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 28px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 438px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 29px 20px 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 438px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 17px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 328px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 69px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -528px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 708px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -660px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-2 {
  background-image: url("images/shutterstock_1453501478-100935325-large.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 616px;
  margin: 203px 429px 0 95px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 112px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 20px;
}

.u-section-2 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto 0 10px;
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -68px 0 0 119px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-2 .u-container-layout-2 {
  padding: 19px 20px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  margin: 0 0 0 37px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 100% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 324px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 104px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 63px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }
} .u-section-3 {
  background-image: url("images/c01fded4a6aac2b6d533ae10ae1c6c4e0908bd2e86fc7d4587e9264cdce3a5eb96161480ba72bde0cff314630110247390dca517d3c6256e34430a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 697px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 482px;
  margin: 42px -20px 42px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 148px;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0 119px;
}

.u-section-3 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: -102px auto 0 0;
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 465px;
}

.u-section-3 .u-container-layout-2 {
  padding: 19px 20px;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  margin: 0 0 0 37px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 100% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: url("images/1163805851-0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 697px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 512px;
  margin: 8px auto 60px -25px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-4 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 22px auto 0 56px;
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -68px -89px 0 162px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 20px;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  margin: 0 0 0 37px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 100% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 45px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 114px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 799px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 843px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 167px;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 20px;
}

.u-section-5 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 25px auto 0 0;
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -88px 0 0 119px;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0 119px;
}

.u-section-5 .u-form-1 {
  height: 572px;
  width: 1100px;
  margin: 0 auto 60px;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 16px 74px 17px 73px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 118px;
  }

  .u-section-5 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}